.Search{
    margin: 150px 400px;
}
h1{
    float: left;
    text-shadow: 2px 2px wheat;
}
input{
    width: 500px;
    height: 40px;
    box-shadow: 2px 2px 2px gray;
    border-radius: 10px;
    background-color: #faeeee;
}
.btn{
    float: right;
}

img{
    float: right;
}

